* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(icon/header-bg.jpg);
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 60px;
    cursor: pointer;
    margin: 60px;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: left;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    text-align: center;
    align-items: center;
    padding: 10px 50px;
    margin-right: 30px;
    border: 0px;
    outline: 50px;
    border-color: #fff;
    border-radius: 200px;
    background: none;
    color: #fff;
    font-weight: 0px;
    cursor: pointer;
    text-align: center;
}

.btn2 {
    text-align: center;
    align-items: center;
    padding: 10px 50px;
    margin-right: 30px;
    border-bottom-style: 4px;
    outline: 50px;
    border-color: #fff;
    border-radius: 200px;
    background: none;
    color: #fff;
    font-weight: 0px;
    cursor: pointer;
}

.content {
    margin-top: 10%;
    color: #fff;
    width: 100%;
    align-items: center;
}

.content h1 {
    font-style: inherit;
    align-items: center;
    font-size: 70px;
    text-align: center;
}

.p {
    align-items: center;
    text-align: center;
    padding-top: 30px;
    border-style: 4px;
}

.Discover {
    background: #f0a608;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 40px;
    margin-bottom: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 250px;
    margin-top: 50px;
    color: #fff;
}

* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: -80px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-bottom: 40px;
}

.card {
    width: 400px;
    align-items: center;
    border-radius: 10px;
    background-color: #fbf1f1;
    shadow: #646363;
}

.card img {
    width: 25%;
    height: auto;
    align-items: center;
    margin-top: 30px;
    justify-self: center;
    margin-left: 130px;
    margin-bottom: 30px;
}

.ph3 {
    text-align: center;
}

.pcard {
    text-align: center;
}

.explore {
    align-items: center;
    margin-top: 100px;
}

.explore img {
    margin-left: 47%;
}

.pexplore {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
}

.container-explore {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-bottom: 40px;
}

.card-explore {
    width: 400px;
    align-items: center;
    border-radius: 10px;
    background-color: #fbf1f1;
    shadow: #646363;
}

.card-explore img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    align-items: center;
    margin-top: 30px;
    justify-self: center;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card-explore h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-explore p {
    text-align: center;
}

.card-explore button {
    background: #f0a608;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 40px;
    margin-bottom: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #fff;
}

.viwe {
    align-items: center;
    background: #f0a608;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 40px;
    margin: auto;
    margin-top: 200px;
    display: block;
    margin-bottom: 250px;
    color: #fff;
}

* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
}

.container-touch {
    background-color: #f0a608;
    min-width: 400px;
    height: auto;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.card-toch {
    align-items: center;
    border-radius: 10px;
    background-color: #fefefe;
    shadow: #646363;
}

.card-touch h1 {
    margin-top: 50px;
    margin-left: 80px;
}

.card-touch p {
    text-align: left;
    margin-left: 80px;
    margin-right: 20px;
}

.card-touch form {
    max-width: 500px;
    min-width: 20px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 40px;
    margin-bottom: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}

.card-touch input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px 2px;
    font-size: 20px;
}

::placeholder {
    color: #090501;
}

.card-touch img {
    align-items: center;
    border: 2px;
    width: 400px;
    float: right;
    margin-right: 15px;
    margin-top: 13px;
    border-color: #fbf1f1;
}

.card-touch button img {
    align-items: center;
    border: 2px;
    width: 24px;
    float: right;
    border-color: #fbf1f1;
    margin: 10px;
    margin-right: 12px;
    padding: 1px;
}

.card-touch button {
    border: 0;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: rgb(246, 207, 13);
    cursor: pointer;
}

.card-touch form img {
    width: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

footer {
    background-color: rgb(235, 187, 187);
    color: #090501;
    padding: 2rem 1rem;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

footer a {
    color: #090501;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #03c58e
}

.containerf {
    max-width: 100%;
    margin: 0 auto;
    min-height: 350px;
}

.footer-main {
    display: flex;
    margin-bottom: 4rem;
}

.footer-colum {
    flex-basis: content;
    flex-grow: 1;
    text-align: left;
}

.footer-main h2 {
    margin-bottom: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.footer-main p {
    max-width: 800px;
    margin-left: 100px;
    text-align: left;
}

.footer-main h1 {
    margin-left: 100px;
    margin-top: 50px;
}

.media {
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-main li {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
}

@media only screen and ( max-width: 900px) {
    .footer-main {
        flex-direction: column;
    }
}

.footer-bottom {
    text-align: center;
    background-color: rgb(235, 187, 187);
    padding-bottom: 50px;
}