  ////////////////////////////////////////////////////////////////
  $button-color:#E76F51;
  $bac-color: #FAF4F2;
  $bac-button-color:#f0f0f0;
  $text-color-button:#8D8D8D;
  $font-text:Georgia,
  'Times New Roman',
  Times,
  serif;
  /////////////////////////////////////////////////////////////////
  %btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      padding: 0;
      border-radius: 10;
  }
  
  ////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      background-color: #FAF4F2;
      font-family: Georgia, 'Times New Roman', Times, serif;
      .Container-Heather {
          background-image: url(icon/header-bg.jpg);
          width: 100%;
          min-height: 50vh;
          background-size: cover;
          background-position: center;
          padding: 10px 8px;
          border-bottom-left-radius: 150px;
          border-bottom-right-radius: 150px;
          .Logo-Website {
              width: 60px;
              cursor: pointer;
              margin: 60px;
              margin-left: 30px;
              transition: 0.5s;
          }
          nav {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px 0;
              ul {
                  list-style: none;
                  width: 100%;
                  text-align: left;
                  li {
                      display: inline-block;
                      margin: 10px 20px;
                      a:hover {
                          transition-timing-function: ease;
                          transition: 0.4s;
                          display: flex;
                          text-align: center;
                          justify-content: center;
                          width: fit-content;
                          height: fit-content;
                          font-weight: 500;
                          background: $button-color;
                          border: solid 1px rgb(255, 255, 255);
                          color: #000000;
                          border-radius: 18px;
                          padding-left: 15px;
                          padding-right: 15px;
                          padding: 10px;
                      }
                      a {
                          color: #fff;
                          text-decoration: none;
                          transition: 0.4s;
                      }
                  }
              }
          }
          .logo-meno {
              display: block;
              justify-content: start;
              margin-left: auto;
              margin-right: 50px;
              background-color: white;
              width: 50px;
              height: 50px;
              border-radius: 20px;
              padding: 10px;
          }
          @media only screen and (min-width:1000px) {
              .logo-meno {
                  display: none;
              }
          }
          .Btn-Up {
              display: block;
              width: 130px;
              background: none;
              border: none;
              color: white;
              margin-right: 30px;
              transition: 0.4s;
              &.Btn-Up:hover {
                  background-color: #00c291;
                  border-radius: 30px;
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  width: 130px;
                  height: auto;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  font-weight: 500;
                  padding: 12px;
                  color: #000000;
                  font-size: 20px;
                  border: solid 1px white;
                  transform: none;
              }
          }
          .Btn-In {
              display: block;
              width: 130px;
              height: 50px;
              background: none;
              border: solid 1px white;
              border-radius: 30px;
              color: white;
              margin-right: 130px;
              justify-content: center;
              transition: 0.3s;
              &.Btn-In:hover {
                  background-color: #0094b9;
                  border-radius: 30px;
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  width: 130px;
                  height: auto;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  font-weight: 500;
                  padding: 12px;
                  color: #000000;
                  font-size: 20px;
                  border: solid 1px white;
                  transform: none;
              }
          }
          .Content-Heather {
              margin-top: 10%;
              color: #fff;
              width: 100%;
              align-items: center;
              h1 {
                  font-style: inherit;
                  align-items: center;
                  font-size: 70px;
                  text-align: center;
                  transition: 2s;
              }
              .Description-Heather {
                  align-items: center;
                  text-align: center;
                  padding-top: 30px;
                  border-style: 4px;
                  transition: 1s;
              }
              .Discover-Button {
                  background: #E76F51;
                  margin-top: 30px;
                  padding: 10px 40px;
                  border-radius: 40px;
                  margin-bottom: 100px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 250px;
                  margin-top: 50px;
                  color: #fff;
                  font-size: 18px;
                  font-family: 'Times New Roman', Times, serif;
                  width: 205px;
                  height: 55px;
                  border: none;
                  transition: 0.4s;
                  &.Discover-Button:hover {
                      font-family: Georgia, 'Times New Roman', Times, serif;
                      border: solid 1px white;
                      width: 250px;
                      background-color: #00c291;
                      text-shadow: 5px 5px 10px rgb(255, 255, 255);
                  }
              }
          }
          ////////////////////////////////////////////////////////////////////////////////
          ////////////////////////////////////////////////////////////////////////////////
          .drop img {
              width: 30px;
              margin: 20px;
          }
          .Sidbar {
              position: fixed;
              display: flex;
              flex-direction: column;
              top: 0;
              right: 0;
              //   background-image: url(pexels-alexandrep-junior-7736101.jpg);
              background-color: rgba($color: #19c2b4, $alpha: 0.30);
              backdrop-filter: blur(40px);
              //   border-top-left-radius: 50px;
              z-index: 999;
              height: 100vh;
              width: 300px;
              display: none;
              ul {
                  list-style: none;
                  width: 100%;
                  margin-top: 100px;
                  margin-bottom: 100px;
                  li {
                      margin: 10px 20px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-top: 20px;
                      a {
                          background-color: #E76F51;
                          width: 300px;
                          padding: 15px 4px;
                          border-radius: 30px;
                          color: #f0f0f0;
                          text-align: center;
                          text-decoration: none;
                          transition: 0.2s;
                          &:hover {
                              background-color: #00c291;
                              color: #000000;
                          }
                      }
                  }
              }
          }
          .Show-Sidbar {
              background-color: #f0f0f0;
              border-radius: 5px;
              margin-right: 20px;
              width: 40px;
              height: 40px;
              transition: 0.2s;
               :hover {
                  background-color: #ffdd1f;
                  border-radius: 5px;
              }
          }
          @media only screen and (min-width:1500px) {
              .Show-Sidbar {
                  display: none;
              }
          }
          .Hide {
              list-style: none;
              background-color: rgba($color: #ffffff, $alpha: 0.50);
              position: absolute;
              top: 30px;
              left: 30px;
              width: 40px;
              height: 40px;
              border-radius: 5px;
          }
          .Box-Btn-Sidbar {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 30px;
              right: 30px;
          }
          .Btn-Up-sidebar {
              width: 60px;
              height: 30px;
              background: #E76F51;
              border: none;
              color: white;
              border-radius: 10px;
              font-size: 15px;
              padding: 4px;
              margin-bottom: 5px;
          }
          .Btn-In-sidebar {
              display: flex;
              width: 60px;
              height: 30px;
              background: #E76F51;
              border: none;
              border-radius: 10px;
              padding: 2px;
              color: white;
              justify-content: center;
              font-size: 15px;
          }
          /////////////////////////////////////////////////////////////////////////////////
      }
      @media only screen and ( max-width: 1500px) {
          .Container-Heather nav ul li {
              display: none;
          }
      }
      @media only screen and ( max-width: 1000px) {
          .Container-Heather nav ul li {
              display: none;
          }
          .Container-Heather .Btn-In {
              display: none;
          }
          .Container-Heather .Btn-Up {
              display: none;
          }
      }
      //////////////////////////////////////////////////////////////////////////////////////
      * {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      //////////////////////////////////////////////////////
      body {
          background-image: url("background img/shape2.svg");
          background-repeat: no-repeat;
          background-position-y: 2500px;
          background-position-x: -500px;
      }
      /////////////////////////////////////////////////////////////
      .Card-Services {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          top: -80px;
          gap: 30px;
          justify-self: center;
          align-items: center;
          justify-content: center;
          .Service {
              width: 360px;
              height: 312px;
              align-items: center;
              border-radius: 10px;
              background-color: #ffffff;
              justify-self: center;
              align-items: center;
              justify-content: center;
              transition: 0.7s;
              &.Service:hover {
                  border-radius: 50px;
                  box-shadow: 3px 3px 5px;
              }
              img {
                  width: 22%;
                  height: auto;
                  align-items: center;
                  margin-top: 30px;
                  justify-self: center;
                  margin-left: 130px;
                  margin-bottom: 30px;
                  margin-left: 40%;
              }
              .Service-4 {
                  width: 20%;
                  height: auto;
                  align-items: center;
                  margin-top: 30px;
                  justify-self: center;
                  margin-left: 130px;
                  margin-bottom: 30px;
                  margin-left: 40%;
                  padding: 10px;
              }
              .Tittle-Servis {
                  text-align: center;
              }
              .Service-Description {
                  text-align: center;
                  margin-bottom: 30px;
                  padding: 10px;
              }
          }
      }
      ////////////////////////////////////////////////////////////////////////////////////
      .Section-Destination-Activities {
          width: 100%;
          height: fit-content;
          .Destination-Activities {
              justify-content: center;
              align-items: center;
              margin-top: 100px;
              margin-bottom: 250px;
              text-align: center;
              .Img-Destination-Activities {
                  justify-content: center;
                  align-items: center;
                  text-align: center;
              }
              .Description-Destination-Activities {
                  align-items: center;
                  text-align: center;
                  justify-content: center;
                  margin-top: 30px;
                  justify-content: center;
              }
          }
          @media only screen and ( max-width: 1500px) {
              .explore {
                  margin-bottom: 30px;
              }
          }
      }
      ///////////////////////////////////////////////////////////////////////////////
      .Container-Destinations {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 80px;
          margin-left: 100px;
          margin-right: 100px;
          align-items: center;
          margin-bottom: 40px;
          .Card-Destination {
              min-width: 400px;
              margin: 10px 10px;
              margin-right: 10px;
              align-items: center;
              border-radius: 15px;
              background-color: #ffffff;
              transition: 1s;
              box-shadow: #646363;
              img {
                  width: 70%;
                  height: auto;
                  border-radius: 15px;
                  align-items: center;
                  margin-top: 30px;
                  justify-self: center;
                  margin-left: 70px;
                  margin-bottom: 20px;
                  margin-top: 40px;
              }
              h4 {
                  text-align: center;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
              p {
                  max-width: 250px;
                  text-align: center;
                  margin-left: 75px;
              }
              button {
                  background: #f0f0f0;
                  margin-top: 30px;
                  padding: 10px 40px;
                  border-radius: 40px;
                  margin-bottom: 100px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 25px;
                  margin-top: 20px;
                  color: #8D8D8D;
                  border-style: none;
              }
              &.Card-Destination:hover {
                  border-radius: 50px;
                  box-shadow: 3px 3px 5px;
                  background-color: #E76F51;
              }
          }
          .under-photo {
              color: #E76F51;
              border-radius: 10px;
              justify-content: center;
              text-align: center;
              background-color: #ffffff;
              width: 145px;
              height: 50px;
              padding-top: 10px;
              padding-bottom: 8px;
              margin-left: -280px;
              margin-top: -40px;
              transition: 0.6s;
              &.coc:hover {
                  background-color: #ffd000;
                  color: #000000;
              }
          }
          .heart {
              color: #E76F51;
              border-radius: 13px;
              justify-content: center;
              text-align: center;
              background-color: #ffffff;
              width: 40px;
              padding: 5px 5px 6px 5px;
              margin-left: -110px;
              margin-bottom: 300px;
              &.look:hover {
                  background-color: #ffd000;
              }
          }
          //////////////////////////////////////////////////////////////////////////
          @media only screen and ( max-width: 1000px) {
              .Card-Destination {
                  margin: 10px 10px;
                  padding: 0px 0px;
                  flex-direction: column;
                  width: 373px;
                  box-shadow: #646363;
              }
              .under-photo {
                  display: none;
              }
              .heart {
                  display: none;
              }
              .card-container {
                  margin: 0;
                  padding: 0;
              }
          }
      }
      /////////////////////////////////////////////////////////////////////////////////////
      .Viwe-Button {
          width: 100%;
          height: fit-content;
      }
      .viwe {
          align-items: center;
          justify-content: center;
          text-align: center;
          background: #f0a60800;
          padding: 10px 30px;
          margin: 0 auto;
          border-radius: 40px;
          margin: auto;
          margin-top: 200px;
          display: block;
          margin-bottom: 250px;
          color: #E76F51;
          border: solid 2px #E76F51;
          transition: 1s;
          &.viwe:hover {
              background-color: #E76F51;
              color: #090501;
          }
      }
      /////////////////////////////////////////////////////////////////////////
      * {
          margin: 0px;
          padding: opx;
          box-sizing: border-box;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      body {
          background-color: #fff;
      }
      .All-Form {
          width: 100%;
          height: fit-content;
      }
      @media only screen and (max-width:500px){
        .All-Form{
          max-width: 350px;
        
        }
      }
      .Container-Form {
          background-color: #F8E1DB;
          height: auto;
         
          margin-left: 200px;
          margin-right: 200px;
          align-items: center;
          margin-bottom: 180px;
          display: flex;
          justify-content: center;
          border-radius: 20px;
      
          .Img-Form {
              background: url(" background img/shape3.svg");
              border-radius: 10px;
              background-color: #FFD2C6;
              background-repeat: no-repeat;
              height: auto;
              width:fit-content;
              background-size: cover;
              transition: 1s;
              &.Img-Form:hover {
                  background-color: #E76F51;
                  color: #090501;
                  border-radius: 30px;
              }
          }
          .Card-Form {
              align-items: center;
              border-radius: 10px;
          
            
            
          }
          .Card-Form h1 {
              margin-top: 50px;
              margin-left: 80px;
          }
          .Card-Form p {
              text-align: left;
              justify-content:right;
              justify-self:left;
              margin-left: 80px;
              margin-right: 20px;
          }
          .Card-Form form {
              max-width: 500px;
              min-width: 20px;
              margin-top: 40px;
              margin-left: 80px;
              margin-right: 40px;
              margin-bottom: 30px;
              background: #fff;
              display: flex;
              align-items: center;
              border-radius: 20px;
              padding: 10px 20px;
          }
          .Card-Form input {
              background: transparent;
              flex: 1;
              border: 0;
              outline: none;
              padding: 2px 2px;
              font-size: 20px;
              margin-bottom: 12px;
          }
           ::placeholder {
              color: #090501;
          }
          .Card-Form img {
              align-items: center;
              border: 2px;
              width: 400px;
              float: right;
              margin-right: 15px;
              margin-top: 00px;
              border-color: #fbf1f1;
              margin-bottom: 28px;
          }
          .Card-Form button img {
              align-items: center;
              height: auto;
              border: 2px;
              width: 34px;
              border-color: #fbf1f1;
              margin-right: 15px;
              margin-top: 8px;
              padding-right: 4px;
          }
          .Card-Form button {
              border: 0;
              border-radius: 17px;
              width: 50px;
              height: 50px;
              background: #E76F51;
              cursor: pointer;
          }
          .Card-Form form img {
              width: 20px;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;
              margin-right: 10px;
          }
      }
      ////////////////////////////////////////////////////////////////////////////////
      footer {
          height: 507;
          background-color: #F8E1DB;
          color: #090501;
          padding: 2rem 1rem;
          border-top-left-radius: 150px;
          border-top-right-radius: 150px;
          .containerf {
              max-width: 100%;
              margin: 0 auto;
              min-height: 350px;
              .footer-main {
                  display: flex;
                  margin-bottom: 4rem;
                  .footer-colum {
                      flex-basis: content;
                      flex-grow: 1;
                      justify-content: left;
                      text-align: justify;
                  }
                  p {
                      max-width: 600px;
                      margin-left: 20px;
                      text-align: left;
                      min-width: 300px;
                      margin-left: 20px;
                      margin-right: 150px;
                  }
                  h1 {
                      margin-left: 20px;
                      margin-top: 50px;
                  }
                  .media {
                      margin-left: 20px;
                      margin-top: 15px;
                      margin-bottom: 30px;
                  }
              }
              li {
                  display: flex;
                  flex-direction: row;
                  width: max-content;
                  padding: 5px 10px;
                  margin: 0 auto;
                  margin-left: 20px;
                  margin-right: 100px;
                  a {
                      text-decoration: none;
                      color: #090501;
                  }
              }
              h2 {
                  display: flex;
                  flex-direction: row;
                  font-size: 26px;
                  // margin-bottom: 1rem;
                  margin-left: 31px;
                  margin-right: 100px;
                  margin-top: 50px;
                  // text-align: justify;
                  // // min-width: 150px;
              }
          }
      }
  }
  
  //////////////////////////////////////////////////////////////////////////////
  /// 
  /// 
  /// 
  /// 
  /// 
  /// 
  /// 
  /// 
  /// 
  @media only screen and ( max-width: 1000px) {
      .footer-main {
          flex-direction: column;
      }
  }
  
  ///////////////////////////////////////////////////////////////
  .footer-bottom {
      text-align: center;
      background-color: #F8E1DB;
      padding-bottom: 50px;
  }
  
  //   ///////////////////////////////////////////////////////////////
  //   .gg {
  //       margin-bottom: -1270px;
  //       margin-left: -400px;
  //   }
  //   ///////////////////////////////////////////////////////////////
  //   .jj {
  //       margin-bottom: -800px;
  //       margin-left: 1450px;
  //       height: 800px;
  //   }
  //////////////////////////////////////////////////////////////
  .explore {
      align-items: center;
      margin-bottom: 300px;
      .imgexplore {
          margin-left: 47%;
      }
      .pexplore {
          align-items: center;
          text-align: center;
          margin-top: 30px;
          justify-content: center;
      }
  }
  
  //////////////////////////////////////////////////////////////
  .arrow {
      display: block;
      justify-content: center;
      margin-left: 90%;
      background-color: rgb(255, 255, 255);
      width: 60px;
      height: 60px;
      border-radius: 14px;
      padding: 15px;
      margin-top: -70px;
  }
  
  @media only screen and ( max-width: 1000px) {
      .arrow {
          margin-left: 48%;
      }
  }
  
  //////////////////////////////////////////////////////////////////////////
  ///
  /// 
  ///         responsive-box
  /// 
  /// 
  /////////////////////////////////////
  /// 
  //   @media only screen and (min-width:1000px) {
  //       .logo-meno {
  //           display: none;
  //       }
  //   }
  //   @media only screen and ( max-width: 1500px) {
  //       .container nav ul li {
  //           display: none;
  //       }
  //   }
  //   @media only screen and ( max-width: 1000px) {
  //       .container nav ul li {
  //           display: none;
  //       }
  //       .container .btn {
  //           display: none;
  //       }
  //       .container .btn2 {
  //           display: none;
  //       }
  //   }
  //   @media only screen and ( max-width: 1500px) {
  //       .explore {
  //           margin-bottom: 30px;
  //       }
  //   }
  //   @media only screen and ( max-width: 1000px) {
  //       .card-explore {
  //           margin: 10px 10px;
  //           padding: 0px 0px;
  //           flex-direction: column;
  //           width: 373px;
  //           box-shadow: #646363;
  //       }
  //   }
  //   @media only screen and ( max-width: 1000px) {
  //       .footer-main {
  //           flex-direction: column;
  //       }
  //       .gg {
  //           display: none;
  //       }
  //   }
  //   @media only screen and ( max-width: 1000px) {
  //       .arrow {
  //           margin-left: 48%;
  //       }
  //   }
  ///////////////////////////////////////////////////////////////////////////////////////////////
  /// 
  /// Small parts
  /// 
  /// /////////////////////////////////////////////////////////////////////
  //   .explore {
  //       justify-content: center;
  //       align-items: center;
  //       margin-top: 100px;
  //       margin-bottom: 250px;
  //       .imgexplore {
  //           margin-left: 48%;
  //           justify-content: center;
  //       }
  //       .pexplore {
  //           align-items: center;
  //           text-align: center;
  //           margin-top: 30px;
  //           justify-content: center;
  //       }
  //   }
  //   @media only screen and ( max-width: 1500px) {
  //       .explore {
  //           margin-bottom: 30px;
  //       }
  //   }
  //   .coc {
  //       color: #E76F51;
  //       border-radius: 10px;
  //       justify-content: center;
  //       text-align: center;
  //       background-color: #ffffff;
  //       width: 145px;
  //       height: 50px;
  //       padding-top: 10px;
  //       padding-bottom: 8px;
  //       margin-left: -280px;
  //       margin-top: -40px;
  //   }
  //   .look {
  //       color: #E76F51;
  //       border-radius: 13px;
  //       justify-content: center;
  //       text-align: center;
  //       background-color: #ffffff;
  //       width: 40px;
  //       padding: 5px 5px 6px 5px;
  //       margin-left: -110px;
  //       margin-bottom: 300px;
  //   }
  //   .viwe {
  //       align-items: center;
  //       background: #f0a60800;
  //       padding: 10px 30px;
  //       margin: 0 auto;
  //       border-radius: 40px;
  //       margin: auto;
  //       margin-top: 200px;
  //       display: block;
  //       margin-bottom: 250px;
  //       color: #E76F51;
  //       border: solid 2px #E76F51;
  //   }
  //   .footer-bottom {
  //       text-align: center;
  //       background-color: #F8E1DB;
  //       padding-bottom: 50px;
  //   }
  //   ///////////////////////////////////////////////////////////////
  //   .gg {
  //       margin-bottom: -1270px;
  //       margin-left: -400px;
  //   }
  //   ///////////////////////////////////////////////////////////////
  //   .jj {
  //       margin-bottom: -800px;
  //       margin-left: 1450px;
  //       height: 800px;
  //   }
  //   //////////////////////////////////////////////////////////////
  //   .explore {
  //       align-items: center;
  //       margin-bottom: 300px;
  //       .imgexplore {
  //           margin-left: 47%;
  //       }
  //       .pexplore {
  //           align-items: center;
  //           text-align: center;
  //           margin-top: 30px;
  //           justify-content: center;
  //       }
  //   }
  //   //////////////////////////////////////////////////////////////
  //   .arrow {
  //       display: block;
  //       justify-content: center;
  //       margin-left: 90%;
  //       background-color: rgb(255, 255, 255);
  //       width: 60px;
  //       height: 60px;
  //       border-radius: 14px;
  //       padding: 15px;
  //       margin-top: -70px;
  //   }
  //////////
  /// //////////////////////////////////////////////////////////////////////////////////////////////////
  /// 
  ///   pag 1
  ///